*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26,32,44);
}
a{
    text-decoration: none;
}
@font-face {
    font-family: "IRANSANS";  
    src: 
      url("./Font/Font/iranyekanwebregular.woff2") format("woff2");
  }